{% extends "core/base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

    <h1>Front Page!</h1>

    {% for post in posts %}
        <section class="section">
            <div class="columns">
            <div class="column is-8 is-offset-2">
                <div class="content is-medium">
                <h2 class="subtitle is-4">{{ post.created_at|timesince }}</h2>
                <h1 class="title">{{ post.title }}</h1>
                <p>{{ post.intro }}</p>
                </div>
            </div>
            </div>
        </section>
      {% endfor %}

{% endblock %}